USE [master]
GO
/****** Object:  Database [projectLTCSDL]    Script Date: 1/3/2025 9:49:22 PM ******/
CREATE DATABASE [projectLTCSDL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projectLTCSDL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\projectLTCSDL.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'projectLTCSDL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\projectLTCSDL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projectLTCSDL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projectLTCSDL]
GO
/****** Object:  Table [dbo].[category]    Script Date: 1/3/2025 9:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[catID] [int] IDENTITY(1,1) NOT NULL,
	[catName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[catID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 1/3/2025 9:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[pID] [int] IDENTITY(1,1) NOT NULL,
	[pName] [varchar](50) NULL,
	[pPrice] [float] NULL,
	[CategoryID] [int] NULL,
	[pImage] [image] NULL,
	[pStock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 1/3/2025 9:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[staffID] [int] IDENTITY(1,1) NOT NULL,
	[sName] [varchar](50) NULL,
	[sPhone] [varchar](50) NULL,
	[sRole] [varchar](50) NULL,
	[sAddress] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[staffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tables]    Script Date: 1/3/2025 9:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tables](
	[tID] [int] IDENTITY(1,1) NOT NULL,
	[tName] [varchar](15) NULL,
	[isAvailable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[tID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDetails]    Script Date: 1/3/2025 9:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[MainID] [int] NULL,
	[proID] [int] NULL,
	[qty] [int] NULL,
	[price] [float] NULL,
	[amount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMain]    Script Date: 1/3/2025 9:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMain](
	[MainID] [int] IDENTITY(1,1) NOT NULL,
	[aDate] [date] NULL,
	[aTime] [varchar](15) NULL,
	[TableName] [varchar](10) NULL,
	[WaiterName] [varchar](20) NULL,
	[status] [varchar](20) NULL,
	[orderType] [varchar](20) NULL,
	[total] [float] NULL,
	[received] [float] NULL,
	[change] [float] NULL,
	[driverID] [int] NULL,
	[CustName] [varchar](50) NULL,
	[CustPhone] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 1/3/2025 9:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[upass] [varchar](10) NOT NULL,
	[uName] [varchar](50) NOT NULL,
	[uphone] [varchar](10) NOT NULL,
	[isDisabled] [bit] NULL,
	[failedAttempts] [int] NULL,
	[uRole] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [pStock]
GO
ALTER TABLE [dbo].[tables] ADD  DEFAULT ((1)) FOR [isAvailable]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [isDisabled]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [failedAttempts]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[category] ([catID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_Products_Category]
GO
ALTER TABLE [dbo].[tblDetails]  WITH CHECK ADD  CONSTRAINT [FK_Details_Main] FOREIGN KEY([MainID])
REFERENCES [dbo].[tblMain] ([MainID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDetails] CHECK CONSTRAINT [FK_Details_Main]
GO
ALTER TABLE [dbo].[tblDetails]  WITH CHECK ADD  CONSTRAINT [FK_Details_Products] FOREIGN KEY([proID])
REFERENCES [dbo].[products] ([pID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDetails] CHECK CONSTRAINT [FK_Details_Products]
GO
USE [master]
GO
